.rodapé {
    background: var(--branco2);
    height: 10vh;
    
    display: flex;
    justify-content: space-evenly;
   
    padding: 1em 0.5em;

}


.lista-rodapé {
    padding: 1em 1em;
    display: flex;
      
}
.lista-rodapé__logo {
    width: 60px;
   padding: 0 10px;
}


.rodapé__logo {
    width: 100px;
    height: 100px;
}