.rodapé {
    background: var(--branco2);
    height: 20vh;
    position: relative;
    display: flex;
    justify-content:space-between;
    padding: 1em 0.5em;

}


.lista-rodapé {
    padding: 1em 3em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-rodapé__logo {
    width: 60px;
}

.rodapé__logo {
    width: 150px;
    height: 150px;
}
