@import url("header.css");
@import url("páginas.css");
@import url("rodapé.css");

:root {
    --azul-aza-gradiente: linear-gradient(90deg, rgba(205,220,236,1) 0%, rgba(15,158,224,1) 34%, rgba(36,58,128,1) 100%);
    --azul-claro-gradiente: linear-gradient(180deg, rgba(205,220,236,1) 0%, rgba(15,158,224,1) 58%, rgba(148,196,242,1) 100%);
    --azul-escuro-gradiente: linear-gradient(148deg, rgba(6,137,208,1) 0%, rgba(36,58,143,1) 72%);
    --branco: #ffffff;
    --azul-escuro: #20479a;
    --azul-claro: #059ce1;
    --cinza: #ececec;
    --cinza-azulado: #8db1d7;
    --branco2: #f3f3f3;
    --fonte-principal: "Exo 2";
}


body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    /* 16px porque é padrão, qualquer diferença será operada dentro do elemento */
    font-weight: 900;
}
